*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h5,h6{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
nav ul li{
    list-style-type: none;
}
:root{
    
    /* for background */
    --bg-dark : #14120B;
    
    --bg-medium1 : #1B1913;
    
    /* for highlights cards in last */
    --bg-medium2 : #26241E;
    
    --text-light : #EDECEC;
    --text-dark : #858481;
    --text-link : #f54e00;

    font-size: 62.5%;
}

body{
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}

/* IMP:Using it as website boundary */
.content-boundary{
    display: block;
    width:83%;
    margin: auto;
}

/* navbar styling started */
header{
    font-size: 1.4rem;
}
header div.content-boundary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 4px;
}
header nav ul{
    display: flex;
    gap:30px;
}
.header-right{
    display: flex;
    gap: 8px;
}
#cursorIconLogo{
    width: 23px;
}
#cursorTextLogo{
    width: 70px;
}
#signin-btn-header, #download-btn-header{
    border-radius: 50px;
    padding: 4px 12px;
    border: 1px solid var(--text-dark);
}
#download-btn-header{
    background-color: var(--text-light);
    color: var(--bg-dark);
}
/* navbar completed till here */

.hero-section p{
    font-size: 2.6rem;
    margin-block: 11rem 2rem;
}
#hero-cta{
    display: block;
    width: max-content;
    border-radius: 50px;
    background-color: var(--text-light);
    color: var(--bg-dark);
    padding: 10px 20px;
    font-size: 1.6rem;
    margin-bottom: 6rem;
}
.hero-section img{
    width: 100%;
    border-radius: 10px;
}