*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h5,h6{
    font-size: 1.4rem;
}
button{
    background-color: transparent;
    border: none;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
footer li, nav ul li{
    list-style-type: none;
}

:root{
    
    /* for background */
    --bg-dark : #14120B;
    
    --bg-medium1 : #1B1913;
    
    /* for highlights cards in last */
    --bg-medium2 : #201E18;
    --bg-medium3 : #23211d;
    --bg-medium4 : #44423f;
    --bg-medum2-hover : #26241E;
    --text-light : #EDECEC;
    --text-dark : #858481;
    --text-link : #f54e00;
    --text-link-hover:#BD3F03;

    --button-hover:#c4c4c3;
    font-size: 62.5%;
}

body{
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
}

/* IMP:Using it as website boundary */
.content-boundary{
    display: block;
    width:83%;
    margin: auto;
}

/* navbar styling started */
header{
    font-size: 1.4rem;
}
header div.content-boundary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 4px;
}
header nav ul{
    display: flex;
    gap:30px;
}
header nav ul a:hover{
    color: var(--text-dark);
}
.header-right{
    display: flex;
    gap: 8px;
}
#cursorIconLogo{
    width: 23px;
}
#cursorTextLogo{
    width: 70px;
}
#signin-btn-header, #download-btn-header{
    border-radius: 50px;
    padding: 4px 12px;
    border: 1px solid var(--text-dark);
}
#download-btn-header{
    background-color: var(--text-light);
    color: var(--bg-dark);
}
/* navbar completed till here */

/* hero section :start */
.hero-section p{
    font-size: 2.6rem;
    margin-block: 11rem 2rem;
}
.hero-cta{
    display: block;
    width: max-content;
    border-radius: 50px;
    background-color: var(--text-light);
    color: var(--bg-dark);
    padding: 10px 20px;
    font-size: 1.6rem;
    margin-bottom: 6rem;
}
.hero-section img{
    width: 100%;
    border-radius: 10px;
}
/* hero section complete here */

/* trusted by section starts here*/
.trusted-section p{
    text-align: center;
    margin-block: 6.5rem 3rem;

}
.trusted-section-row{
    display: flex;
    gap: 1rem;
}
.trusted-section-row svg{
    background-color: var(--bg-medium1);
    padding-block: 2rem;
    width: 100%;
}

/* trusted by section ends here */

/* feature cards section starts here */
.feature-card{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1.8rem;
    background-color: var(--bg-medium1);
    margin-top: 10rem;
    border-radius: 10px;
}
.feature-card p{
    font-size: 2.3rem;
}
.feature-card a{
    font-size: 1.6rem;
    color: var(--text-link);
}
.feature-card span{
    color: var(--text-dark);
}
.feature-card img{
    width: 65%;
    border-radius: 10px;
}
.second-feature-card div{
    margin-inline: 1.5rem;
}
/* feature cards section ends here */

/* testimonials section start here */
.testimonials{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.testimonials-p-top{
    text-align: center;
    margin-block: 12rem 5rem;
    font-size: 3.8rem;
}
.testimonial-card{
background-color : var(--bg-medium1);
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 6rem;
font-size: 1.7rem;
padding: 1.8rem;
border-radius: .5rem;

}
.testimonial-card-bottom{
    display: flex;
    gap: 1.2rem;    
    font-size: 1.5rem;
}
.testimonial-card-bottom img{
    width: 40px;
    border-radius: 5px;
}
.person-role{
    color: var(--text-dark);
}
.testimonial-card-p{
    margin-block: 2rem;
}
/* testimonials section ends here */

/* frontier story section starts */
.frontier-section-heading{
    font-size: 2.8rem;
    margin-block: 16rem 3rem;
}
.frontier-card{
    font-size: 1.7rem;
    padding: 2rem;
    background-color: var(--bg-medium1);
    border-radius: .6rem;
    width: 100%;
}
.frontier-card a{
    display: block;
    margin-block: 2rem;
    color: var(--text-link);
}
.frontier-card-p{
    color: var(--text-dark);
}
.frontier-card img{
    border-radius: .6rem;
    width: 100%;
}
.frontier-cards{
    display: flex;
    gap: 1rem;
}
/* frontier story section ends */

/* changelog section starts here */
.changelog-heading{
    font-size: 2.8rem;
    margin-block: 16rem 3rem;
}
.changelog-card-top{
    color: var(--text-dark);
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.changelog-card-top > span{
    padding-inline:1rem;
    border-radius: 30px;
    border: 1px solid var(--text-dark);
    margin-right: 1rem;
}
.changelog-card{
    background-color: var(--bg-medium1);
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: 2rem;
    width: 100%;
}
.changelog-link{
    display: block;
    margin-block: 2rem;
    color: var(--text-link);
    font-size: 1.7rem;
}
.changelog-cards{
    display: flex;
    gap: 1rem;
}
/* changelog section ends here */

/* about team section starts here */
.about-team-section p{
    font-size: 3.5rem;
    margin-block: 15rem 3rem;
}
.about-team-section-cta{
    display: block;
    width: max-content;
    border-radius: 50px;
    background-color: var(--text-light);
    color: var(--bg-dark);
    padding: 10px 20px;
    font-size: 1.6rem;
    margin-bottom: 6rem;
}
.about-team-section img{
    width: 100%;
}
/* about team section ends here */

/* recent highlights section starts here */
.highlights-outer{
    background-color: var(--bg-medium1);
    padding-block: 10rem;
    margin-top: 15rem;
}
.highlight-card{
    background-color: var(--bg-medium2);
    border-radius: .6rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.highlight-card:hover{
    background-color: var(--bg-medum2-hover);
}
.highlight-card-date{
    margin-top: 2.2rem;
}
.highlights-section{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 1.7rem;
}
.highlights-section > *{
    width: 100%;
}
.highlight-link{
    color: var(--text-link);
    display: block;
    margin-top: 2rem;
}
.highlight-link:hover{
    color: var(--text-link-hover);
}
.highlight-card-description, .highlight-card-date{
    color: var(--text-dark);
}
/* recent highlights section ends here */

/* final cta section starts here */
.final-cta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    padding-block: 10rem;
}
.final-cta-section > p{
    font-size: 7rem;
}
/* final cta section ends here */

/* footer starts here */
footer{
    background-color: var(--bg-medium1);
    padding-block: 8rem 4rem;
    font-size: 1.5rem;
}
.link-list > *{
    margin-bottom: 1rem;
}
.link-list-title{
    color: var(--text-dark);
}
.footer-top{
    display: flex;
    justify-content:space-between;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

.footer-bottom-left{
    display: flex;
    gap: 1rem;
    color: var(--text-dark);
}
.footer-bottom-right{
    display: flex;
    gap: 2rem;
}

.theme-selection, .language-selection{
    background-color: var(--bg-medium2);
}
footer button{
    color: var(--text-light);
}
.language-selection{
    display: flex;
    align-items: center;
    gap: .4rem;
    background-color: var(--bg-medium3);
    padding: 1rem;
    border-radius: 20px;
}
.language-selection:hover{
    background-color: var(--bg-medium4);
}

.theme-selection{
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.theme-selection button{
    border-radius: 20px;
    padding:.4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.device-theme-btn{
    background-color: var(--bg-medium4);
}
.light-theme-btn svg, .dark-theme-btn{
    color: var(--text-dark);
}
.theme-selection svg:hover{
    color: var(--text-light);
}
.theme-selection,.theme-selection svg, .language-selection, .theme-selection button{
    cursor: pointer;
}

.link-hover:hover{
    color: var(--text-link-hover);
}
